<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gryffindor Page</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/gryffindor.css" />
  </head>
  <header>
    <div id="div-header">
      <div><img id="header-logo" src="/src/assets/gryffindor.jpeg" alt="gryffindor-logo"/></div>
      <div id="div-input-button">
        <input id="header-input" type="text" placeholder="Pesquise pelo nome"></input>
        <button id="header-button">Pesquisar</button>
      </div>
    </div>
  </header>
  <body>
    <p>
        <span>Fundador:</span> Godric Gryffindor<br>
        <span>Cores:</span> Vermelho e Dourado<br>
        <span>Animal:</span> Leão<br>
        <span>Características:</span> Coragem e Bravura<br>
        <span>Personagens selecionados para a casa Grifinória:</span><br>
    </p>
    <ul></ul>
    <p>Clique <a id="return-button">aqui</a> para retornar à página inicial.</p>
    <script src="../js/gryffindor.js"></script>
</body>