<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hufflepuff Page</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/hufflepuff.css" />
  </head>
  <header>
    <div id="div-header">
      <div><img id="header-logo" src="/src/assets/hufflepuff.jpeg" alt="hufflepuff-logo"/></div>
      <div id="div-input-button">
        <input id="header-input" type="text" placeholder="Pesquise pelo nome"></input>
        <button id="header-button">Pesquisar</button>
      </div>
    </div>
  </header>
  <body>
    <p>
        <span>Fundadora:</span> Helga Hufflepuff<br>
        <span>Cores:</span> Amarelo e Preto<br>
        <span>Animal:</span> Texugo<br>
        <span>Características:</span> Justiça e Lealdade<br>
        <span>Personagens selecionados para a casa Lufa-Lufa:</span><br>
    </p>
    <ul></ul>
    <p>Clique no botão para retornar à página inicial: <a id="return-button">Retornar</a></p>
    <script src="../js/hufflepuff.js"></script>
</body>