<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ravenclaw Page</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/ravenclaw.css" />
  </head>
  <header>
    <div id="div-header">
      <div><img id="header-logo" src="/src/assets/ravenclaw.jpeg" alt="ravenclaw-logo"/></div>
      <div id="div-input-button">
        <input id="header-input" type="text" placeholder="Pesquise pelo nome"></input>
        <button id="header-button">Pesquisar</button>
      </div>
    </div>
  </header>
  <body>
    <p>
        <span>Fundadora:</span> Rowena Ravenclaw<br>
        <span>Cores:</span> Azul e Bronze<br>
        <span>Animal:</span> Águia<br>
        <span>Fantasma:</span> Dama Cinzenta<br>
        <span>Características:</span> Sabedoria e Sagacidade<br>
        <span>Personagens selecionados para a casa Corvinal:</span><br>
    </p>
    <div id="div-ul"><ul></ul></div>
    <p>Clique <a id="return-button">aqui</a> para retornar à página inicial.</p>
    <script src="../js/ravenclaw.js"></script>
</body>