<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slytherin Page</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/slytherin.css" />
  </head>
  <header>
    <div id="div-header">
      <div><img id="header-logo" src="/src/assets/slytherin.jpeg" alt="slytherin-logo"/></div>
      <div id="div-input-button">
        <input id="header-input" type="text" placeholder="Pesquise pelo nome"></input>
        <button id="header-button">Pesquisar</button>
      </div>
    </div>
  </header>
  <body>
    <p>
        <span>Fundador:</span> Salazar Slytherin<br>
        <span>Cores:</span> Verde e Prata<br>
        <span>Animal:</span> Serpente<br>
        <span>Fantasma:</span> Barão Sangrento<br>
        <span>Características:</span> Ambição e Astúcia<br>
        <span>Personagens selecionados para a casa Sonserina:</span><br>
    </p>
    <div id="div-ul"><ul></ul></div>
    <p>Clique <a id="return-button">aqui</a> para retornar à página inicial.</p>
    <script src="../js/slytherin.js"></script>
</body>