header {
    background: #FFCC00;
}
  
#div-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0 auto;
    gap: 10px;
}

#header-logo {
    width: 220px;
    height: 230px;
    margin-top: 15px;
}

#div-input-button {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    width: 85vw;
    max-width: 600px;
    margin-bottom: 15px;
}

#header-input {
    flex-grow: 2;
    border: none;
}

#header-button {
    background: #FFCC00;
    border: 2px solid #FFCC00;
    border-radius: 8px;
    width: 25vw;
    padding: 5px;
    max-width: 190px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #5A5A5A;
    cursor: pointer;
}

#header-button:hover {
    transition: 0.5s;
    background: #5A5A5A;
    border-color: #5A5A5A;
    color: #FFCC00;
}

p {
    color:#FFCC00;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 20px;
}

span {
    color:#5A5A5A;
}

a {
    color: #8A2BE2;
    cursor: pointer;
    text-decoration: underline;
}

#div-ul {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding: 0;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin: 20px auto;     
}

li {
    list-style: none;
    background: #ffffff;
    border: 2px solid #FFCC00;
    border-radius: 5px;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

img {
    width: 180px;
    height: 200px;
}

.p-character {
    margin: 0;
}

@media (min-width: 950px) {
    p {
        text-align: center;
    }
}